alias bc='bc -l'
alias chgrp='chgrp --preserve-root'
alias chmod='chmod --preserve-root'
alias chown='chown --preserve-root'
alias cls='clear'
alias cp='cp -i'
alias df='df -H'
alias dot='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias h='history 10'
alias hh='history 20'
alias hhh='history 40'
alias hhhh='history'
alias hgrep='history | grep'
alias hles='history | less +G'
alias install-core='ninja -j 32 install-core'
alias install-devcore='ninja -j 32 install-devcore'
alias install-dist-test='ninja -j 32 install-dist-test'
alias install-mongo='ninja -j 32 install-mongo'
alias j='jobs -l'
alias les='less'
alias lesn='less -N'
alias lesr='less -R'
alias lint='echo pylinters...; buildscripts/pylinters.py fix; echo eslint...; buildscripts/eslint.py fix; echo clang_format...; buildscripts/clang_format.py format-my'
alias l.='ls -dF .*'
alias la='ls -aF'
alias lf='ls -F'
alias ll='ls -la'
alias ln='ln -i'
alias mkdir='mkdir -pv'
alias mvenv='source /home/ubuntu/mongo/python3-venv/bin/activate'
alias mv='mv -i'
alias nv='nvim'
alias pd='pushd'
alias pd+='pushd +1'
alias pd++='pushd +2'
alias pd+++='pushd +3'
alias pd-='pushd -0'
alias pd--='pushd -1'
alias pd---='pushd -2'
alias rm='rm -I --preserve-root'
alias scon='buildscripts/scons.py --dbg=on --link-model=dynamic --ninja generate-ninja --variables-files=etc/scons/mongodbtoolchain_stable_clang.vars' ICECC=icecc CCACHE=ccache
alias scon-static='buildscripts/scons.py ICECC=icecc CCACHE=ccache --dbg=on --link-model=static --ninja --build-tools=next --variables-files=etc/scons/mongodbtoolchain_testing_clang.vars'
alias tmat='tmux atta -d -t 0'
alias up='cd ..'
alias upp='cd ../..'
alias uppp='cd ../../..'
alias upppp='cd ../../../..'
alias uppppp='cd ../../../../..'
alias vi='nvim'
alias wget='wget -c'
alias make_compile_commands="python3 \
    buildscripts/scons.py \
    CC=/opt/mongodbtoolchain/v4/bin/clang \
    CXX=/opt/mongodbtoolchain/v4/bin/clang++ \
    --dbg=on \
    --disable-warnings-as-errors \
    --modules= \
    generated-sources \
    compiledb"

agles() {
	unbuffer ag "$@" | less -R
}
