alias bc='bc -l'
alias chgrp='chgrp --preserve-root'
alias chmod='chmod --preserve-root'
alias chown='chown --preserve-root'
alias cls='clear'
alias cp='cp -i'
alias df='df -H'
alias dot='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias h='history 10'
alias hh='history 20'
alias hhh='history 40'
alias hhhh='history'
alias hgrep='history | grep'
alias hles='history | less +G'
alias install-core='ninja -j 400 install-core'
alias install-devcore='ninja -j 400 install-devcore'
alias install-dist-test='ninja -j 400 install-dist-test'
alias install-mongo='ninja -j 400 install-mongo'
alias j='jobs -l'
alias lesn='less -N'
alias lesr='less -R'
alias lint='echo pylinters...; buildscripts/pylinters.py lint-all; echo eslint...; buildscripts/eslint.py fix; echo clang_format...; buildscripts/clang_format.py format-my; buildscripts/quickcpplint.py lint-my'
alias l.='ls -dF .*'
alias la='ls -aF'
alias lf='ls -F'
alias ll='ls -la'
alias ln='ln -i'
alias mkdir='mkdir -pv'
alias mv='mv -i'
alias nv='nvim'
alias pd='pushd'
alias pd+='pushd +1'
alias pd++='pushd +2'
alias pd+++='pushd +3'
alias pd-='pushd -0'
alias pd--='pushd -1'
alias pd---='pushd -2'
alias rm='rm -I --preserve-root'
alias scon='./buildscripts/scons.py --variables-files=etc/scons/mongodbtoolchain_stable_clang.vars --link-model=dynamic --ninja generate-ninja ICECC=icecc CCACHE=ccache'
alias scon-enter='./buildscripts/scons.py --variables-files=etc/scons/mongodbtoolchain_stable_clang.vars --link-model=dynamic --modules=enterprise --ninja generate-ninja ICECC=icecc CCACHE=ccache'
alias up='cd ..'
alias upp='cd ../..'
alias uppp='cd ../../..'
alias upppp='cd ../../../..'
alias uppppp='cd ../../../../..'
alias vi='nvim'
alias wget='wget -c'
alias make_compile_commands="python3 \
    buildscripts/scons.py \
    CC=/opt/mongodbtoolchain/v4/bin/clang \
    CXX=/opt/mongodbtoolchain/v4/bin/clang++ \
    --dbg=on \
    --disable-warnings-as-errors \
    --modules= \
    generated-sources \
    compiledb"

agles() {
	unbuffer ag "$@" | less -R
}
