[user]
	name = Israel Hsu
	email = israel.hsu@mongodb.com
[alias]
	br = branch
	brl = branch --list
	brn = rev-parse --abbrev-ref HEAD
	ch = cherry-pick
	cm = commit
	co = checkout
	coiz = "!f() { \
			if [ \"$1\" = \"-b\" ]; then \
		  		dashb='-b'; shift; \
			fi; \
			git checkout $dashb israelhsu/$1; \
		}; f"
	d  = diff --word-diff=color
	dog = log --decorate --oneline --graph
	dt = difftool
	pom = pull origin master
	st = status
	wt = worktree
	wta = worktree add
	wtl = worktree list
	wtr = worktree remove
[diff]
	tool = vimdiff
[difftool]
	prompt = false
	trustExitCode = true
[mergetool]
	trustExitCode = true
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
